.gravestone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: silver;
    margin: 1em;
    left: 1em;
}

* {
    .gravestone {
      width: 32%;
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    .gravestone {
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .gravestone {
      min-width: 200px;
      margin: 0.66% auto;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .gravestone {
      width: 32%;
      min-width: 200px;
      margin: 0.66% auto;
    }
  }